@model ReflectionIT.Mvc.Paging.PagingList<Pedido>
@{
    ViewData["Title"] = "Página Inicial";
}


<div class="Container">
    <form method="get" class="form-inline">
        <input name="filter" class="form-control" placeholder="Filtro..." value="@Model.RouteValue["Filter"]" />
        <div style="display:flex; flex-direction:row-reverse;justify-content:space-between; margin-top:5px;">
            <button  type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true">
                    Procurar
                </span>
            </button>
            <div>
                <a asp-area="Admin" asp-controller="AdminPedidos" asp-action="Create" class="btn btn-primary">Criar novo</a>
            </div>
        </div>
    </form>
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Cep</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Pedido Total</th>
                <th>Pedido Enviado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Endereco1 - @item.Endereco2</td>
                    <td>@item.Cep</td>
                    <th>@item.Estado</th>
                    <th>@item.Cidade</th>
                    <th>@item.Telefone</th>
                    <th>@item.Email</th>
                    <td>@item.PedidoTotal.ToString("C")</td>
                    <td>@item.PedidoEnviado</td>
                    <td class="row">
                        <a class="btn btn-dark" asp-action="Edit" style="width:20px;" asp-controller="AdminPedidos" asp-area="Admin" asp-route-id="@item.Id">
                            Edit
                        </a>
                        <a class="btn btn-primary" asp-action="Details" style="width:20px;" asp-controller="AdminPedidos" asp-area="Admin" asp-route-id="@item.Id">
                            Details
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" style="width:20px;" asp-controller="AdminPedidos" asp-area="Admin" asp-route-id="@item.Id">
                            Delete
                        </a>
                        <a class="btn btn-danger" asp-action="PedidoLanches" style="width:20px;" asp-controller="AdminPedidos" asp-area="Admin" asp-route-id="@item.Id">
                            Ver Itens
                        </a>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h4>Total de Lanches:@Model.TotalRecordCount</h4>
    <div>
        <vc:pager paging-list="@Model"></vc:pager>
    </div>

</div>
