@model ReflectionIT.Mvc.Paging.PagingList<Categoria>

@{
    ViewData["Title"] = "Página Inicial";
}



    <div class="Container">
        <form method="get" class="form-inline">
            <input name="filter" class="form-control" placeholder="Filtro..." value="@Model.RouteValue["Filter"]" />
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true">
                    Procurar
                </span>
            </button>
        </form>
    <div>
        <a asp-area="Admin" asp-controller="AdminCategorias" asp-action="Create" class="btn btn-primary">Criar novo</a>
    </div>
    <table class="table table-striped">
      
        <thead>
            <tr>
                <th>Id</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CategoriaNome</td>
                    <td>@item.Descricao</td>
                    <td>
                        <a class="btn btn-dark" asp-action="Edit" asp-controller="AdminCategorias" asp-area="Admin" asp-route-id="@item.Id">
                            Edit
                        </a>|
                        <a class="btn btn-primary" asp-action="Details" asp-controller="AdminCategorias" asp-area="Admin" asp-route-id="@item.Id">
                            Details
                        </a>|
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="AdminCategorias" asp-area="Admin" asp-route-id="@item.Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Products navigation example">
        <vc:pager paging-list="@Model" />
    </nav>
</div>
